<div class="row">
    <div class="col-sm-12">

        <app-search [list]="users" (itemClick)="onItemClick($event)"></app-search>

        <div class="pb-3"></div>

        <div *ngIf="user">
            <div class="card">
                <div class="card-body">                    
                    <h4 class="card-title">{{ user.name }}</h4>
                    <p class="card-text">
                        {{ user.email }}<br>
                        {{ user.phone }}<br>
                        {{ user.website }}<br>
                        {{ user.fullAddress }}<br>
                        {{ user.fullCompany }}
                    </p>                    
                </div>
            </div>
        </div>

        <div *ngIf="!user">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">No Data Found</h4>
                </div>                
            </div>
        </div>

        <img class="img-fluid rounded mt-3" src="https://picsum.photos/1920/700" alt="">

    </div>
</div>